.card-links {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  margin-top: 2rem;

  @media screen and (min-width: breakpoint('tablet')) {
    flex-direction: row;
  }
}

.card-links a {
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  width: 17.5rem;
  height: 12.25rem;
  padding-top: 1.05rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;

  font-size: ms(-1);
  font-weight: bold;
  color: palette('white');
  text-align: center;
  text-transform: uppercase;

  background-color: palette('blue', 'dianne');
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 palette('shadow');
}

.card-links a[disabled] {
  pointer-events: none;

  background-color: palette('gray', 'light');
  filter: grayscale(1);
}

.card-links i {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;

  width: 100%;
  padding-bottom: 1rem;

  text-align: center;

  &::before {
    width: 7.4rem;
    height: 7.4rem;

    content: '';

    background: palette('blue', 'paradiso');
    border-radius: 50%;
  }

  &::after {
    width: 4.4rem;
    height: 4.4rem;
    margin-top: -6.25rem;

    content: '';

    background-position: center;
  }
}

.card-links__history i {
  &::after {
    width: 5.68rem;
    height: 5.37rem;
    margin-right: -0.625rem;

    background-image: image('icons/calendar.svg');
  }
}

.card-links__comparison i {
  &::after {
    width: 6.06rem;
    height: 5.87rem;
    margin-top: -6.75rem;

    background-image: image('icons/comparison.svg');
  }
}

.card-links__data i {
  &::after {
    width: 4.68rem;
    height: 5.18rem;

    background-image: image('icons/csv.svg');
  }
}

.card-links__indicators i {
  &::after {
    width: 4.68rem;
    height: 5.18rem;

    background-image: image('icons/indicator.svg');
  }
}
