[id='cookies-eu-banner'] {
  padding: 0 0.75rem;

  .container {
    display: flex;

    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    > * {
      margin: 0.75em;
    }
  }

  p {
    flex-grow: 1;
  }

  button {
    align-items: center;
  }
}
