VITE_STRAPI_URL=https://omlpi-strapi.rnpiobserva.org.br
# URL pública do site (usado para gerar preview de URL nos cards/editor de Textos Institucionais)
VITE_SITE_URL=https://proj-omlpi-gn1m.vercel.app
    